site_name: Geopycat

theme:
  name: material

  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  logo: img/geopycat-icon.png

markdown_extensions:
  - attr_list
  - md_in_html

extra_css:
  - stylesheets/extra.css
